.row-benefits {
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px 20px;
    width: 100%;
    place-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.col-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 24px;
    background: #F6F8FB;
    border-radius: 8px;
    img {
        width: 24px;
        height: 24px;
        min-width: 24px;
        max-width: 24px;
        margin-bottom: 5px;
    }
    span {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #434447;
        display: inline-block;
    }
}