.header {
    &-top {
        background: #F6F8FB;
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;
        min-height: 56px;
        & > .container {
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        &__phone {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
                width: 15px;
                height: 15px;
            }
            a {
                font-family: 'Basier Square';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                color: #1071FF;
                transition: all .3s ease;
                &:hover {
                    color: #2358a7;
                }
            }
            &::after {
                position: relative;
                content: "";
                width: 1px;
                height: 100%;
                background-color: #434447;
                margin-left: 16px;
                margin-right: 16px;
            }
        }
        &__messages {
            display: flex;
            align-items: center;
            a {
                display: flex;
                position: relative;
                align-items: center;
                .messages-count {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    background-color: #FF7E27;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Basier Square';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;
                    left: 11px;
                    top: -5px;
                }
            }
            img {
                margin-right: 14px;
                position: relative;
                width: 20px;
                height: 16px;
            }
            span {
                font-family: 'Basier Square';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #0C0C0C;
            }
            &::after {
                position: relative;
                content: "";
                width: 1px;
                height: 100%;
                background-color: #434447;
                margin-left: 16px;
                margin-right: 16px;
            }
        }
        &__left {
            display: flex;
            align-items: center;
        }
        &__right {
            position: relative;
            display: flex;
        }
    }
    &-secondary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 0;
        & > .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h1 {
            margin: 0;
            display: flex;
            align-items: center;
            a {
                display: flex;
                align-items: center;
            }
        }
    }
    &-order__btn {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        padding: 16px 32px;
        background: #1071FF;
        border-radius: 30px;
        transition: all .3s ease;
        display: flex;
        flex: 1 0 auto;
        max-width: 200px;
        text-align: center;
        justify-content: center;
        &:hover {
            color: #fff;
            transition: all .3s ease;
            background: #0f67ec;
        }
    }
    &-form__search {
        display: flex;
        flex: 1 1 auto;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        max-width: 543px;
        width: 100%;
        position: relative;
        margin: 0 20px;
        input[type=search] {
            padding-left: 50px;
            width: 100%;
            position: relative;
        }
        button[type=submit] {
            position: absolute;
            left: 18px;
            top: 17px;
            z-index: 9;
            border: none;
            background: #0000;
            display: inline-flex;
            width: auto;
            padding: 0;
        }
    }
    &-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px 3px 0px;
        background-color: #F6F8FB;
        & > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__left {
            position: relative;
            top: -6px;
            .dropdown {
                margin-right: 64px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    font-family: 'Basier Square';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: #0C0C0C;
                    transition: all .3s ease;
                    &:hover {
                        color: #000;
                    }
                }
            }
            & > a {
                margin-right: 64px;
                font-family: 'Basier Square';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                color: #0C0C0C;
                &:hover {
                    text-decoration: underline;
                    color: #0C0C0C;
                }
            }
        }
        &__right {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }
    &-action {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin-right: 32px;
        & > a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            align-items: center;
            span {
                display: inline-flex;
                position: absolute;
                top: -3px;
                border-radius: 50%;
                font-family: 'Basier Square';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                min-width: 18px;
                height: 18px;
                background-color: #FF4E00;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #fff;
                transform: translateX(6px);
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &__compare {
            width: 12px;
            height: 15px;
            margin: 0 auto;
        }
        &__bookmarks {
            width: 13px;
            height: 13px;
            margin: 0 auto;
        }
        &__cart {
            width: 14px;
            height: 14px;
            margin: 0 auto;
        }
        p:nth-of-type(1) {
            margin-top: 6px;
            display: inline-block;
            color: #1071FF;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            transition: all .3s ease;
        }
        p:nth-of-type(2) {
            font-family: 'Basier Square';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #1071FF;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            transition: all .3s ease;
        }
        p:hover {
            transition: all .3s ease;
            color: #2358a7;
        }
    }
}

.btn.btn-dropdown {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0px 0px;
    margin-right: 16px;
    border: none;
    &:last-child {
        margin-right: 0;
    }
    &::after {
        content: '';
        background: url(../images/arrow-down.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 13px;
        height: 10px;
        border: none;
        margin-left: 10px;
        position: relative;
        top: 4px;
        transition: all .3s ease;
    }
    &[aria-expanded=true] {
        &::after {
            top: 3px;
            transition: all .3s ease;
            transform: rotate(180deg);
        }
    }
}

.dropdown {
    display: inline-flex;
    align-items: baseline;
    &.dropdown-username {
        display: flex;
        align-items: center;
        img {
            margin-right: 6px;
        }
        .btn.btn-dropdown {
            display: flex;
            align-items: center;
        }
    }
}

.dropdown-username {
    .btn.btn-dropdown {
        &::after {
            top: 1px;
        }
    }
}

#toggleHeadMenu {
    display: none;
}

@media screen and (max-width: 1199px) {
    #toggleHeadMenu {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        img {
            width: 32px;
            height: 32px;
        }
    }
    .header {
        &-top {
            & > .container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & > div {
                    padding: 5px;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                }
            }
            &__right {
                flex-direction: column;
                & > div {
                    padding: 5px;
                }
                    height: 0;
                    overflow: visible;
                    opacity: 0;
                    pointer-events: none;
                    transition: all .3s ease;
                &.active {
                    transition: all .3s ease;
                    height: 100%;
                    opacity: 1;
                    pointer-events: all;
                }
            }
            &__phone {
                &::after {
                    content: none;
                    width: 0;
                    height: 0;
                    margin: 0;
                }
            }
            &__messages {
                &::after {
                    content: none;
                    width: 0;
                    height: 0;
                    margin: 0;
                }
            }
        }
    }
    .header-navigation {
        &__left {
            padding: 15px 0;
        }
        & > .container {
            flex-direction: column;
        }
    }
    .header-secondary h1 img {
        min-width: 156px;
    }
}

@media screen and (max-width: 991px) {
    .header-navigation__left {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        & > .dropdown {
            margin-bottom: 10px;
            margin-right: 0;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        & > a {
            margin-bottom: 10px;
            margin-right: 0;
        }
        .btn.btn-dropdown {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        &-top {
            &__right {
                flex-direction: column;
                & > div {
                    padding: 5px;
                }
                    height: 0;
                    overflow: visible;
                    opacity: 0;
                    pointer-events: none;
                    transition: all .3s ease;
                &.active {
                    transition: all .3s ease;
                    height: 100%;
                    opacity: 1;
                    pointer-events: all;
                }
            }
            &__left {
                flex-direction: column;
                & > div {
                    padding: 5px;
                }
                    height: 0;
                    overflow: visible;
                    opacity: 0;
                    pointer-events: none;
                    transition: all .3s ease;
                &.active {
                    transition: all .3s ease;
                    height: 100%;
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
    .header-secondary > .container {
        flex-direction: row;
        flex-wrap: wrap;
        h1 {
            width: 100%;
            justify-content: center;
            img {
                margin-bottom: 10px;
            }
        }
    }
    .header-form__search {
        flex: 1 1 45%;
        margin: 0;
        margin-right: 15px;
    }
    .header-order__btn {
        flex: 1 1 50%;
        display: flex;
    }
    #toggleHeadMenu {
        left: 20px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        &-top {
            &__left {
                flex-direction: column;
                & > div {
                    padding: 5px;
                }
            }
        }
    }
    .header-form__search {
        flex: 1 1 100%;
        margin-right: 0;
    }
    .header-order__btn {
        margin: 15px auto;
        max-width: 260px;
    }
}

@media screen and (max-width: 460px) {
    .header-navigation__right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-action {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}