input[type=email] {
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 8px;
    padding: 11px 16px;
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    transition: all .3s ease;
    &:focus-visible, &:focus {
        transition: all .3s ease;
        outline: none;
        border: 1px solid #cfd0d1;
        box-shadow: none;
    }
    &::placeholder {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #737B7D;
    }
}

input[type=search] {
    background: #FFF;
    border: 1px solid #EAECEE;
    border-radius: 8px;
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    padding: 12px 16px;
    outline: none;
    transition: all 0.3s ease;
    &::placeholder {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #737B7D;
    }
    &:focus-within {
        transition: all 0.3s ease;
        outline: none;
        border: 1px solid #cfd0d1;
    }
}

input[type=number] {
    border: 1px solid #EAECEE;
    border-radius: 8px;
    padding: 11px 16px;
    transition: all .3s ease;
    &:focus-within {
        transition: all 0.3s ease;
        outline: none;
        border: 1px solid #cfd0d1;
    }
}

.form-label {
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #434447;
}

textarea {
    background: #FFF;
    border: 1px solid #EAECEE;
    border-radius: 8px;
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    padding: 12px 16px;
    outline: none;
    transition: all 0.3s ease;
    &:focus-within, &:focus {
        transition: all 0.3s ease;
        outline: none;
        border: 1px solid #cfd0d1;
    }
}

button[type=submit] {
    width: 100%;
    background: #1071FF;
    border-radius: 30px;
    padding: 16px 32px;
    border: none;
    color: #fff;
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    transition: all .3s ease;
    &:hover {
        background: #0f67ec;
    }
}