.merchandise {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    margin-top: 42px;
    &-slider {
        display: flex;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &-info {
        h3 {
            font-family: 'Basier Circle';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            color: #0C0C0C;
        }
        table {
            tr {
                &:first-of-type {
                    border-bottom: 1px solid #F6F8FB;
                    td {
                        padding-bottom: 8px;
                        border-bottom: none;
                    }
                }
                td {
                    border-bottom: none;
                    font-family: 'Basier Square';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #737B7D;
                }
                td:last-of-type {
                    text-align: right;
                }
                &:not(:first-of-type) {
                    td:last-of-type {
                        font-family: 'Basier Circle';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        text-align: right;
                        color: #0C0C0C;
                    }
                }
                &:last-of-type {
                    border-bottom: 1px solid #F6F8FB;
                }
            }
        }
        .dropdown {
            display: inline-flex;
            align-items: baseline;
        }
        .dropdown-type {
            padding: 11px 45px 11px 16px;
            border: 1px solid #EAECEE;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            width: 100%;
            transition: all 0.3s ease;
            height: 100%;
            text-align: left;
            font-family: 'Basier Square';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #737B7D;

            &::after {
                transition: all .3s ease;
                content: '';
                background: url(../images/products/product-arrow-dropdown.svg);
                width: 12px;
                height: 9px;
                background-repeat: no-repeat;
                border: none;
                position: absolute;
                right: 22px;
                top: 21px;
                transform: rotate(0deg);
            }
            &[aria-expanded=true] {
                transition: all .3s ease;
                &::after {
                    transition: all .3s ease;
                    transform: rotate(180deg);
                }
            }
        }
        .product-form__count {
            margin: 16px 0px;
            display: grid;
            grid-template-columns: 0.6fr 0.15fr 0.3fr;
            gap: 20px 16px;
        }
    }
    &-actions {
        &__right {
            display: flex;
            margin-left: 16px;
            button {
                border: none;
                padding: 0;
                background-color: transparent;
                img {
                    width: 44px;
                    height: 44px;
                    min-width: 44px;
                }
                &:first-of-type {
                    margin-right: 16px;
                }
            }
        }
    }
    button[type=submit] {
        img {
            margin-left: 10px;
            position: relative;
            top: -3px;
        }
    }
}

.discount-size {
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 600!important;
    font-size: 14px;
    line-height: 24px;
    color: #F52F2F!important;
}

.product-form__count {
    input[type=number] {
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.product-actions__top.merchandise-slider__top {
    position: absolute;
    top: 13px;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    .product-bookmark {
        right: 16px;
    }
}

// slider
.slider.slider-for {
    .slick-prev {
        background: #F6F8FB;
        border-radius: 8px;
        width: 32px;
        left: 16px;
        height: 32px;
        &::before {
            content: url(../images/slider/slider-prev.svg);
        }
    }
    .slick-next {
        background: #F6F8FB;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        left: calc(100% - 48px);
        &::before {
            content: url(../images/slider/slider-next.svg);
        }
    }
}

.merchandise-detail-banner {
    .car-slider-desc {
        max-width: 180px;
        margin: 0 auto;
    }
}

.banner-slider {
    .slider {
        .slider-for {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .slider.slider-nav {
            max-height: inherit;
            overflow: hidden;
        }
        &.slider-nav {
            padding: 20px 0 0;
        }
    }
}

.slider-banner-image {
    max-height: 564px;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}


.slider-nav .slick-slide.thumbnail-image .thumbImg {
    max-width: 178px;
    height: 110px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    .thumbImg img {
        height: 100%;
        width:100%;
        object-fit: cover;
        max-height: 564px;
        height: 100%!important;
        width: 100%!important;
    }
}

.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
    border: 0;
    outline: 0;
}

.slider-nav .slick-slide {
    text-align: center;
    span {
        font-size: 14px;
        display: block;
        padding: 5px 0 15px;
    }
}

.slick-arrow {
    width: 100%;
    background-color: transparent;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    height: 18px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
.slick-prev {
   top: 0;
}
.slick-next {
   bottom: 0;
   background-color: #fff;
}

.merchandise-detail-banner.banner-content {
    width: 100%;
}

.banner-slider {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 90px calc(100% - 110px);
    gap: 0px 20px;
    max-height: 574px;
}

.slick-slider.slider-nav {
    .slick-track {
        height: inherit;
        transform: none;
    }
}

.slider-nav.thumb-image  {
    max-width: 100px;
    display: flex;
    height: 100%;
    max-height: 576px;
    position: relative;
    .slick-arrow.slick-next {
        display: block;
        bottom: 0;
        background-color: #fff;
        top: calc(100% - 10px);
        width: 100%;
        height: 58px;
        left: 0;
        right: 0;
        &::before {
            content: url(../images/slider/slider-next.svg);
            transform: rotate(90deg);
            display: inline-flex;
            top: 0px;
            position: relative;
        }

    }
    .slick-arrow.slick-prev {
        top: calc(4% - 9px);
        display: block;
        bottom: 100%;
        background-color: #fff;
        width: 100%;
        height: 58px;
        left: 0;
        right: 0;
        &::before {
            content: url(../images/slider/slider-prev.svg);
            transform: rotate(90deg);
            display: inline-flex;
            top: 0px;
            position: relative;
        }
    }
}

.slider-nav.thumb-image {
    .slick-list {
        height: 100%!important;
    }
    .slick-track {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 0;
        place-content: unset;
        padding: 20px 0;
        margin: -44px 0;
    }
    .slick-slide {
        height: inherit;
        margin-bottom: 0px;
        display: flex;
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
        background-color: #e5e5e5;
        height: 129px;
        display: flex;
        align-items: center;
        background: #fff;
        & > div {
            width: 90px;
            height: 90px;
            min-width: 90px;
            min-height: 90px;
        }
        .thumbnail-image {
            display: flex;
            height: 100%;
            .thumbImg {
                display: flex;
                height: 100%;
                img {
                    display: block;
                    object-fit: cover;
                    height: 100%!important;
                    width: 99%!important;
                    border: 1px solid #E6EFFB;
                    border-radius: 8px;
                }
            }
        }
    }
}

.slider-nav.thumb-image .slick-track {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 4px 0;
    place-content: space-between;
}

.slider.slider-for .slick-list .slick-track {
    max-height: 564px;
    height: 100%;
    flex-direction: column;
    height: 564px!important;
}

.slider-nav.thumb-image .slick-list {
    max-height: 465px;
    top: 41px;
}

.slider.slider-for .slick-list {
    max-height: 564px;
    width: 100%;
}

.slider.slider-for {
    border: 1px solid #E6EFFB;
    border-radius: 8px;
    .slick-list {
        height: 100%;
        max-height: 564px;
    }
    .slick-slide {
        & > div {
            height: 100%;
        }
    }
    .slider-banner-image {
        img {
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}

.banner-slider .slider.slider-for {
    height: 100%;
    max-height: 564px;
}

.slider.slider-for .slick-list {
    height: 98%;
}


.slider-nav.thumb-image .slick-current .thumbImg img {
    border: 1px solid #1071FF!important;
}

.slider-banner-image {
    height: 610px;
}
.banner-slider .slider.slider-nav {
    padding: 20px 0 0;
}


.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
    border: 0;
    outline: 0;
}

.slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
    border: 2px solid #196DB6;
}

.slider-nav .slick-slide {
    text-align: center;
}

//mobile
@media screen and (max-width: 991px) {
    .merchandise {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .merchandise-info .product-form__count {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .product-form__count {

    }
    .banner-slider {
        width: 100%;
        height: 100%;
        max-height: 574px;
        display: flex;
        flex-direction: column;
    }
    .slider-nav.thumb-image {
        display: none;
    }
}
