.product {
    &-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 1fr));
        &__item {
            max-width: 300px;
            display: flex;
            flex-direction: column;
        }
    }
    &-item {
        max-width: 300px;
        &__top {
            border: 1px solid #F6F8FB;
            border-radius: 8px;
            position: relative;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &__bottom {
            border: 1px solid #F6F8FB;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 8px;
            p {
                margin-bottom: 4px;
            }
            form {
                margin-top: 10px;
                .product-form__count {
                    display: grid;
                    grid-template-columns: 0.7fr 1fr;
                    place-content: center;
                    gap: 10px 8px;
                }
                button[type=submit] {
                    font-family: "Basier Square";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    color: #fff;
                    padding: 16px 32px;
                    background: #1071FF;
                    border-radius: 30px;
                    transition: all 0.3s ease;
                    width: 100%;
                    text-align: center;
                    border: 2px solid transparent;
                    margin-top: 10px;
                    transition: all .3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        position: relative;
                        margin-left: 10px;
                        top: 1px;
                    }
                    &:hover {
                        color: #1071FF;
                        background-color: #fff;
                        transition: all .3s ease;
                        border: 2px solid #1071FF;
                    }
                }
                input[type=number] {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                }
                .dropdown-type {
                    border: 1px solid #EAECEE;
                    border-radius: 8px;
                    display: inline-flex;
                    align-items: center;
                    width: 100%;
                    transition: all 0.3s ease;
                    height: 100%;
                    text-align: left;
                    padding-left: 16px;
                    padding-right: 20px;
                    &[aria-expanded="true"] {
                        border: 1px solid #cfd0d1;
                    }
                }
            }
            .dropdown {
                .dropdown-type {
                    transition: all .3s ease;
                    &::after {
                        transition: all .3s ease;
                        content: '';
                        background: url(../images/products/product-arrow-dropdown.svg);
                        width: 12px;
                        height: 9px;
                        background-repeat: no-repeat;
                        border: none;
                        position: absolute;
                        right: 22px;
                        top: 22px;
                        transform: rotate(0deg);
                    }
                    &[aria-expanded=true] {
                        transition: all .3s ease;
                        &::after {
                            transition: all .3s ease;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        &__image {
            padding: 10px 0;
        }
    }
    &-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;
        margin-top: 80px;
        &__left {
            h3 {
                font-family: 'Basier Circle';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;
                color: #0C0C0C;
            }
        }
        &__right {
            a {
                font-family: 'Basier Square';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #1071FF;
                display: flex;
                align-items: center;
                transition: all 0.3s ease;
                &:hover {
                    transition: all 0.3s ease;
                    color: #2358a7;
                    img {
                        transition: all 0.3s ease;
                        transform: translateX(3px);
                    }
                }
                img {
                    transition: all 0.3s ease;
                    margin-left: 8px;
                }
            }
        }
    }
    &-actions {
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
            position: absolute;
            width: 100%;
        }
        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 18px;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 8px;
        }
    }
    &-bookmark {
        display: flex;
        align-items: center;
        padding: 7px;
        border-radius: 50%;
        background-color: #E6EFFB;
        cursor: pointer;
        position: relative;
        right: 8px;
    }
    &-discount {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        padding: 4px 8px;
        background-color: #FF7E27;
        color: #FFF;
    }
    &-share {
        button {
            border: none;
            background-color: transparent;
        }
    }
    &-status {
        display: flex;
        align-items: center;
        padding: 1px 9px;
        border: 1px solid #F6F8FB;
        border-radius: 4px;
        &.product-status__out {
            span {
                color: #F52F2F;
            }
        }
        img {
            margin-right: 5px;
        }
        span {
            font-family: 'Basier Square';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #00893A;
        }
    }
    &-provider {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        color: #737B7D;
        margin-bottom: 10px;
        display: inline-block;
    }
    &-name {
        font-family: 'Basier Circle';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #0C0C0C;
    }
    &-price {
        font-family: 'Basier Square';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #1071FF;
        margin-top: 16px;
        span:nth-child(1) {
            margin: 0 4px;
            font-size: 26px;
        }
        span:nth-child(2) {
            margin: 0 4px;
            color: #FF7E27;
            font-size: 16px;
            font-weight: 400;
            text-decoration: line-through;
        }
    }
}
.added-to__cart {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1071FF;
    background: #E6EFFB;
    border-radius: 0px 0px 8px 8px;
    img {
        margin-right: 9px;
    }
}
