@import "./fonts.scss";
@import "./bootstrap/bootstrap.min.css";
@import "inputs";
@import "header";
@import "breadcrumbs";
@import "bought-together";
@import "default-benefits";
@import "tabs";
@import "subscribe-discount";
@import "products";
@import "footer";

$maincolor: #fbb03b;

body {
    font-family: 'Basier Square';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0C0C0C;
}

img {
    max-width: 100%;
    height: auto;
    outline: none;
}

a {
    text-decoration: none;
    color:#000;
 
    &:hover, &:focus {
        color: $maincolor;
    }
}

.btn {
    padding: .875rem 3.25rem;
    border-radius: 1.5rem;
    line-height: 18px;
    white-space: nowrap;

    &-primary {
        background: $maincolor;
        border-color: $maincolor;
        color:#000;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
    }

    &-outline-secondary {
        border-color: #d8d8d8;
        color:#000;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;        
    }
}

.form-control {
    padding: .6875rem 2rem;
    border-radius: 1.5rem;
    border-color: #d8d8d8;
}

.form-select {
    padding: .6875rem 4.25rem .6875rem 2rem;
    color: #aaa;
    text-transform: uppercase;
    border-radius: 1.5rem;
    border-color: #d8d8d8;
}